body {
    background-color: lightgrey;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 98vw;
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 35px;
    }
}

section {
    padding: 10px;
    margin: 10px;
}

.nav-bar {
    display: grid;
    grid-template-areas:
        "top-nav extra"
        "home-title home-info";
    grid-template-rows: 150px auto;
    grid-template-columns: auto 600px;
    background-color: darkgrey;
    width: 99vw;
    ul {
        padding: 10px;
        flex-direction: row;
        list-style-type: none;
        height: fit-content;
    }
}

.extra {
    grid-area: extra;
}

.home-title {
    grid-area: home-title;
}

.home-info {
    grid-area: home-info;
}

.home {
    height: 100vh;
    width: 99vw;
    grid-template-rows: 150px auto;
}

.nav-bar-down {
    display: grid;
    grid-template-areas:
        "top-nav close"
        "select-nav drop-down-img";
    grid-template-rows: 150px auto;
    grid-template-columns: auto 600px;
    background-color: slategray;
    height: 100vh;
    width: 99vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    ul {
        padding: 10px;
        flex-direction: row;
        list-style-type: none;
        height: fit-content;
    }
}

.nav-img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.navigation {
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.right-side {
    justify-content: flex-end;
    justify-self: flex-end;
}

.left-side {
    justify-content: flex-start;
}

.bottom {
    align-self: end;
}

.center {
    align-self: center;
}

.info {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.info-nav {
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-self: center;
    width: 40%;
    height: fit-content;
}

.info-img {
    width: 40%;
    height: auto;
    margin: 10px;
    align-self: center;
    border: 1px solid black;
    border-radius: 10px;
}

.logo {
    background-color: lightgrey;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    grid-area: logo;
}

.even-space {
    justify-content: space-between;
}

.container {
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    backdrop-filter: blur(5px);
}

.learn-more {
    margin: 10px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px grey;
    background-color: white;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

.search {
    width: 18px;
    padding: 5px 10px 5px 5px;
    height: 18px;
}

.chevron-down {
    display: flex;
    width: 18px;
    height: 9px;
    justify-content: center;
    align-items: center;
}

.chevron-up {
    display: flex;
    width: 18px;
    height: 9px;
    justify-content: center;
    align-items: start;
}

.close-btn {
    padding: 10px 40px 10px 10px;
    margin: 10px;
    text-decoration: underline;
    font-size: 20px;
}

.title {
    padding: 10px;
    margin: 10px;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}

.footer-bar {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto 50px;
    grid-template-areas:
        "logo nav"
        "copy copy";
    background-color: darkgrey;
    height: 300px;
}

.nav {
    grid-area: nav;
    padding: 10px;
    margin: 10px;
    text-align: center;
    th {
        border-bottom: 2px solid black;
    }
}

.copy {
    grid-area: copy;
    padding: 10px 10px 0px 10px;
    margin: 10px 10px 0px 10px;
    align-self: center;
}

.hide {
    display: none;
}

li button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
}

li button:hover, li a:hover, select:hover, .search:hover, .sign-in:hover {
    cursor: pointer;
    color: white;
}

.secondary-img {
    justify-self: center;
    width: 60%;
    min-width: min(60%, 300px);
    min-height: min(60%, 300px);
    height: 60%;
    aspect-ratio: 1/1;
    margin: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.drop-down {
    text-align: center;
    li {
        padding: 10px;
        margin: 10px;
        font-size: 20px;
        h1 {
            border-bottom: 1px solid black;
        }
    }
    
    
}

.top-nav {
    grid-area: top-nav;
}

.close {
    grid-area: close;
    width: 450px;
}

.select-nav {
    grid-area: select-nav;
    ul {
        align-items: center;
        text-align: center;
        justify-self: center;
    }
}

.drop-down-img {
    grid-area: drop-down-img;

}

.language {
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 16px;
    option {
        background-color: lightgrey;    
    }
}

.language:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

table {
    border-collapse: collapse;
    margin: 20px;
}

.table {
    border-collapse: none;
    margin: 20px 20px 50px 20px;
    width: 100%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.table-img {
    width: 230px;
    height: 230px;
    img {
        width: 100%;
        height: auto;
    }
}

.table-name {
    text-align: left;
    font-size: 20px;
    padding: 10px 10px 5px 10px;
    margin: 10px;
    text-decoration: underline;
}

.table-desc {
    text-align: left;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    width: 700px;
}

.table-address {
    text-align: left;
    width: 22%;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
}

.table-phone {
    text-align: left;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
}
.island-info p{
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

footer {
    margin: 0px;
    padding: 10px;
    width: 97.65vw;
}

form {
    margin: 40px 40px 80px 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    width: 50vw;
    justify-self: center;
    button {
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
    }
    input, label {
        padding: 10px;
        margin: 10px;
    }
    fieldset {
        background-color: rgb(234, 233, 233);
        border-radius: 5px;
    }
    input[type="date"], input[type="number"], input[type="text"] {
        border-radius: 5px;
    }
}

.flight {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 20px 20px 50px 20px;
}

.option-date, .option-book, .table-address {
    text-align: center;
    border-left: 1px solid black;
    h3 {
        padding: 10px;
        margin: 10px;
        text-decoration: underline;
    }
}

.option-book {
    width: 150px;
}

table a:hover {
    color: darkgrey;
    cursor: pointer;
    text-decoration: underline;
}